#attachedActivities {
  height: 30rem;
}

#attachedActivitiesContainer {
  overflow: scroll;
}

#hpTitle {
  font-size: 48px;
  text-align: center;
  padding: 3%;
  color: #9b9d9e;
}

.nav-link:hover {
  color: #fff !important;
}
